<section class="bg-white padding-v-xl ">
    <div class="{{ page.container }}">

        <div class="content-inner flexbox-row-wrap flexbox-align-items">
            <div class="col-6 {{ include.order }}">
                <div class="padding-xl">
                    <img src="img/c1.png">
                </div>
            </div>
            <div class="col-6 ">
                <div class="padding-xl">
                    <h2 class="title-big fg-black"> On the other hand we denounce with righteout</h2>

                    <p class="copy">
                        Mauris mollis at nibh ve . Vivamus hendrerit auctor mauris, et aliquet urna feugiat et. Morbi eu dui posuere, consectetur velit nec, auctor diam. Sed eu imperdiet magna. Sed gravida, metus sollicitudin vulputate consectetur, orci sem tempus sapien, vitae porta lacus ligula ut metus.

                        Cras dapibus tincidunt lobortis. Nulla mattis sem nec gravida commodo. Aliquam placerat congue nisl sed gravida. Vestibulum rutrum maximus est, a consectetur nulla.
                    </p>
                    <p>
                        <a class="fg-dark padding-h-s" href="option1">Option 1 </a>
                        <a class="fg-dark padding-h-s" href="option2">Option 2 </a>
                        <a class="fg-dark padding-h-s"  href="option3">Option 3 </a>
                        <a class="fg-dark padding-h-s"  href="option4">Option 4 </a>
                        <a class="fg-dark padding-h-s"  href="option5">Option 5 </a>
                        <a class="fg-dark padding-h-s"  href="option6">Option 6 </a>
                    </p>
                </div>

            </div>
        </div>
    </div>

</section>