.btn{
  @include transition(color 0.15s ease-in-out, background-color .15s ease-in-out, border .15s ease-in-out);
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  border-width: 1.5px;
  border-style: solid;
  font-size: 1em;
  @extend .margin-h-s;


  &--flat{
    color: $tone-white !important;
    .form-white &{
      color: $tone-one;
    }

  }
  &--flat-inverse{
    color: $tone-white;
    .form-white &{
      color: $tone-dark;
      @extend .bg-white;
    }

  }
  &--outline{
    background: none;

    &:hover{

    }
  }

}