    <li class="nav-menu-item active"><a class="nav-link {{ page.subnav-padding }}" href="#"><span class="">Home</span></a></li>
    <li class="nav-menu-item"><a class="nav-link {{ page.subnav-padding }}" href="#"><span class="">Products</span></a></li>
    <li class="nav-menu-item"><a class="nav-link {{ page.subnav-padding }}" href="#"><span class="">Gallery</span></a></li>
    <li class="nav-menu-item"><a class="nav-link {{ page.subnav-padding }}" href="#"><span class="">News</span></a></li>
    <li class="nav-menu-item"><a class="nav-link {{ page.subnav-padding }}" href="#"><span class="">Contact</span></a></li>

