<main class="site-main">
    <!--<section class="padding-m">-->

        <!--<div class="{{ page.container }} border-radius-m block bg-clear padding-m">-->
            <!--<br>-->
            <!--<a href="#" class="open-options">Abrir panel lateral</a>-->
            <!--<div class="menu-options">-->
                <!--<h2>WITH HERO</h2>-->
                <!--<a class="fg-white bg-gray" href="/navigation/option1.html">Nav top + logo left</a>-->
                <!--<a class="fg-white bg-gray"  href="/navigation/option2.html">Nav top + logo center</a>-->
                <!--<a class="fg-white bg-gray"  href="/navigation/option3.html">Nav bottom + logo center</a>-->
                <!--<a class="fg-white bg-gray"  href="/navigation/option4.html">Nav bottom + logo left</a>-->
                <!--<a class="fg-white bg-gray"  href="/navigation/option5.html">Nav subnav + logo left</a>-->
                <!--<a class="fg-white bg-gray"  href="/navigation/option6.html">Nav subnav + logo center</a>-->
            <!--</div>-->
            <!--<div class="menu-options">-->
                <!--<h2>NO HERO</h2>-->
                <!--<a class="fg-white bg-gray" href="/navigation/option7.html">Nav top + logo left</a>-->
                <!--<a class="fg-white bg-gray"  href="/navigation/option8.html">Nav top + logo center</a>-->
                <!--<a class="fg-white bg-gray"  href="/navigation/option9.html">Nav bottom + logo center</a>-->
                <!--<a class="fg-white bg-gray"  href="/navigation/option10.html">Nav bottom + logo left</a>-->
                <!--<a class="fg-white bg-gray"  href="/navigation/option11.html">Nav subnav + logo left</a>-->
                <!--<a class="fg-white bg-gray"  href="/navigation/option12.html">Nav subnav + logo center</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->

 {% include _blocks/_block-img-title-text.html %}

 {% include _blocks/_block-title-form.html %}

</main>

