<section class="footer bg-two">
    <div class="{{ page.container }}">

        <div class="content-inner flexbox-row-wrap">
            <div class="col-12">
                <div class="padding-xl text-align-center">
                    <p class="copy fg-white"> Lorem ipsum dolor sit amet ©2018</p>


                </div>

            </div>
        </div>
    </div>

</section>

<script src="js/stickyBottom.js" type="text/javascript"></script>
<script src="js/stickyTop.js" type="text/javascript"></script>