<header class="site-header position-relative" role="banner">


      <!-- navbar -->
 <div class="navbar navbar-absolute js-fg-nav">



     {% if page.topbar =='true' %}
     <!-- topbar -->


     {% include _elements/_topbar.html %}


     <!-- /topbar -->

     {% else %}
     {% endif %}
   <div class="logobar navbar-logo js-logobar position-relative {% if page.navbar.is-fixed == 'true' %}  js-fixed{% endif %} {% if page.navbar.is-transparent == 'true' %} is-transparent {% endif %}   fg-{{ page.hero-fg}} js-fg {{ page.navbar.border }} js-border js-change-color">
       {% include _elements/_searchbar.html  js-class='js-searchbar' %}
       <div class="{{ page.container }} js-container">
           <div class="navbar-inner flexbox-row-nowrap">

               {% if page.navigation == 'top-left' %}

               <div class="navbar__item width-35 hidden-desktop">
                   <div class="navbar__tools fg-{{ page.navbar.fg }} js-fg">
                       {% include _elements/_mobile-nav.html %}
                       {% include _elements/_search.html js-class='js-search-open' %}
                   </div>
               </div>

               <!-- FIX - FULL - FIX -->
               <nav class="navbar__item width-35 align-self-stretch overflow-hidden hidden-mobile hidden-tablets visible-desktop">
                   {% include _elements/_navigation.html %}
               </nav>
               <div class="navbar__item width-full text-align-center">
                   {% include _elements/_brand.html %}
               </div>
               <div class="navbar__item width-35">
                   <div class="navbar__tools flex-align-right ">
                       {% include _elements/_search.html js-class='js-search-open' breakpoint='hidden-tablets hidden-mobile' %}
                       {% include _elements/_extras.html %}
                       {% include _elements/_ctas.html breakpoint='hidden-tablets' %}
                   </div>
               </div>

               {% endif %}


               {% if page.navigation == 'top-center' %}

               <!-- AUTO - FULL - AUTO -->
               <div class="navbar__item  navbar__item-brand width-auto padding-h-m">
                   {% include _elements/_brand.html class="static-nav-logo" class-js="js-width-logo" %}
               </div>
               <nav class="navbar__item width-full align-self-stretch padding-h-m  overflow-hidden hidden-mobile hidden-tablets visible-desktop">
                   {% include _elements/_navigation.html %}
               </nav>
               <div class="navbar__item width-auto">
                   <div class="navbar__tools">
                       {% include _elements/_search.html js-class='js-search-open' %}
                       {% include _elements/_extras.html %}
                       {% include _elements/_ctas.html %}
                       {% include _elements/_mobile-nav.html %}
                   </div>


               </div>

               {% endif %}


               {% if page.navigation == 'bottom' or page.navigation == 'subnav' %}

               {% if page.brand.position =='left' %}
               <div class="navbar__item width-auto">
                   {% include _elements/_brand.html %}
               </div>
               <div class="navbar__item width-full">
                   <div class="navbar__tools flex-align-right">
                       {% include _elements/_search-input.html breakpoint='hidden-tablets hidden-mobile' %}
                       {% include _elements/_search.html js-class='js-search-open' breakpoint='hidden-desktop' %}
                       {% include _elements/_extras.html %}
                       {% include _elements/_ctas.html %}
                       {% include _elements/_mobile-nav.html %}
                   </div>
               </div>

               {% elsif page.brand.position =='center' %}
               <div class="navbar__item width-35">
                   <div class="navbar__tools ">
                       {% include _elements/_mobile-nav.html %}
                       {% include _elements/_search-input.html breakpoint='hidden-tablets hidden-mobile' %}
                       {% include _elements/_search.html js-class='js-search-open' breakpoint='hidden-desktop' %}
                   </div>
               </div>
               <div class="navbar__item width-full text-align-center">
                   {% include _elements/_brand.html %}
               </div>
               <div class="navbar__item width-35">
                   <div class="navbar__tools flex-align-right">
                       {% include _elements/_extras.html %}
                       {% include _elements/_ctas.html breakpoint='hidden-tablets' %}
                   </div>
               </div>

               {% endif %}

               {% endif %}


           </div>
       </div>
       {% include _elements/_background-navbar.html %}
    </div>

     {% if page.navigation =='bottom' %}

     <!-- subnav -->
     <div class="subnav  position-relative {{ page.subnav.border }} js-subnav {% if page.subnav.is-fixed == 'true' %} js-fixed {% endif %} {% if page.subnav.is-transparent == 'true' %} is-transparent {% endif %} fg-{{ page.subnav.fg }} js-subnav-top js-border-2 hidden-mobile hidden-tablets visible-desktop js-fg js-change-color">
         <div class="{{ page.container }} js-container fix-padding-container">
             <nav class="navbar__item width-full">
                 {% include _elements/_navigation.html %}
             </nav>
         </div>
         {% include _elements/_background-subnav.html %}
     </div><!-- /subnav -->
     {% endif %}


 </div>
    <!-- /navbar -->



    {% if page.hero =='true' %}
    <!-- hero -->

    <div class="hero">
        {% include _elements/_hero.html %}



        {% if page.navigation =='subnav' %}

        <!-- subnav -->
        <div class="subnav  subnav-bottom-absolute  js-subnav {% if page.subnav.is-fixed == 'true' %} js-fixed {% endif %} js-subnav-bottom {{ page.subnav.border }} {% if page.subnav.is-transparent == 'true' %} is-transparent {% endif %}  fg-{{ page.subnav.fg }} hidden-mobile hidden-tablets visible-desktop js-fg js-change-color">
            <div class="{{ page.container }} js-container fix-padding-container">
                <nav class="navbar__item width-full">
                    {% include _elements/_navigation.html %}
                </nav>
            </div>
            {% include _elements/_background-subnav.html %}
        </div><!-- /subnav -->
        {% endif %}
    </div>

    <!-- /hero -->

    {% else %}
    {% endif %}


    <div class="backdrop">

    </div>

</header>







