<head>
    <title>{{ site.name }} – {{ site.description }}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Include jQuery.mmenu .css files -->
    <link href="components/mmenu/css/jquery.mmenu.all.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- Google Fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="scss/style.css" />



    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="components/mmenu/js/jquery.mmenu.all.js" type="text/javascript"></script>
    <script src="js/nav.js" type="text/javascript"></script>
    <script src="js/mmenu.js" type="text/javascript"></script>
</head>