<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>

<script src="components/mmenu/js/jquery.mmenu.all.js" type="text/javascript"></script>
<script src="js/menuMobile.js" type="text/javascript"></script>


<script src="js/fixHeaderPadding.js" type="text/javascript"></script>

<script src="js/colorFunctions.js" type="text/javascript"></script>

<script src="js/openSearch.js" type="text/javascript"></script>

<script src="js/changeOption.js" type="text/javascript"></script>

<!--<script src="js/navFixed.js" type="text/javascript"></script>-->


<script src="js/stickyAndChangeColor.js" type="text/javascript"></script>


<script src="js/stickyAnimationScroll.js" type="text/javascript"></script>


<script src="js/disappearOnScroll.js" type="text/javascript"></script>

