

<div class="hero padding-tb-xl">
    <div class="container">
      <div class="hero-content text-align-center fix-header-padding">
        <h1 class="fg-white text-transform-uppercase">We design and develop </h1>
        <p class="fg-white">Tincidunt et urna purus tristique eros vitae purus tristique eros vitaeTincidunt et urna purus tristique eros vitae purus tristique eros vitaeTincidunt et urna purus tristique eros vitae purus tristique eros vitaeTincidunt et urna purus tristique eros vitae purus tristique eros vitaeTincidunt et urna purus tristique eros vitae purus tristique eros vitae</p>
          <a class="btn btn--big border-radius-xl bg-main fg-white" href="#" >Start</a>
    </div>
</div>
<div class="background">
    <div class="bg-color" style="background: rgba(0, 0, 0, 0.4)"></div>
    <div class="bg-image" style="background-image:url(https://images.unsplash.com/photo-1453872787409-dc25a2913da0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8065cf3c5b99a66f4bdb3f3c3ac4347b&auto=format&fit=crop&w=1489&q=80)"></div>
</div>
</div>