
<ul class="menu-mobile" id="menu-mobile">
    <li class="nav-menu-mobile-item padding-s active"><a class="nav-link fg-gray" href="#">Home</a></li>
    <li class="nav-menu-mobile-item padding-s"><a class="nav-link fg-gray" href="#">About</a></li>
    <li class="nav-menu-mobile-item padding-s"><a class="nav-link fg-gray" href="#">Products</a></li>
    <li class="nav-menu-mobile-item padding-s"><a class="nav-link fg-gray" href="#">News </a></li>
    <li class="nav-menu-mobile-item padding-s"><a class="nav-link fg-gray" href="#">Contact</a></li>
</ul>