<div class="navbar-tools">
    {% if site.navbutton %}<div class="tools-item" ><a class="btn btn--small btn--outline border-radius-l"  href="{{site.navbutton}}">Login</a></div>{% endif %}
    {% if site.iconshop %}<a class="tools-item btn-shop  fg-gray" href="{{site.iconshop}}"><span class="icon icon-shopping-cart2"></span></a>{% endif %}
    {% if site.iconsearch %}

    <a class="tools-item btn-search fg-gray js-search-toogle" href="#searchbar">
        <div class="open-search"><span class="icon icon-search"></span></div>
        <div class="close-search"><span class="icon icon-x"></span></div>
    </a>

    {% endif %}


    <a class="tools-item btn-menu fg-gray js-menu-toogle">
        <div class="open-menu"><span class="icon icon-menu3"></span></div>
        <div class="close-menu" href=""><span class="icon icon-x"></span></div>
    </a>
<!--
<a class="tools-item btn-search" href="#searchbar">Search<span></span></a>
<a class="tools-item btn-ham" href="#menu-movil">Menu<span></span></a>
-->
</div>
