$icomoon-font-path: "../fonts" !default;


$icon-heart: \e90e;
$icon-mail: \e916;
$icon-menu: \e90f;
$icon-phone: \e917;
$icon-search: \e910;
$icon-shopping-cart: \e911;
$icon-user: \e912;
$icon-chevron-down: \e90c;
$icon-chevron-small-down: \e90d;
$icon-magnifying-glass: \e90a;
$icon-menu2: \e900;
$icon-shopping-cart2: \e901;
$icon-skype-with-circle: \e902;
$icon-facebook-with-circle: \e90b;
$icon-flickr-with-circle: \e903;
$icon-flickr: \e918;
$icon-google-with-circle: \e904;
$icon-google: \e919;
$icon-instagram-with-circle: \e905;
$icon-instagram: \e913;
$icon-linkedin-with-circle: \e906;
$icon-linkedin: \e91a;
$icon-pinterest-with-circle: \e907;
$icon-pinterest: \e914;
$icon-twitter-with-circle: \e908;
$icon-twitter: \e915;
$icon-vimeo: \e91b;
$icon-youtube-with-circle: \e909;

