$icomoon-font-path: "../fonts" !default;

$icon-menu3: "\ea82";
$icon-search: "\ea83";
$icon-shopping-cart2: "\ea84";
$icon-user: "\e921";
$icon-x: "\e920";
$icon-add-to-list: "\e900";
$icon-classic-computer: "\e901";
$icon-controller-fast-backward: "\e902";
$icon-creative-commons-attribution: "\e903";
$icon-creative-commons-noderivs: "\e904";
$icon-creative-commons-noncommercial-eu: "\e905";
$icon-creative-commons-noncommercial-us: "\e906";
$icon-creative-commons-public-domain: "\e907";
$icon-creative-commons-remix: "\e908";
$icon-creative-commons-share: "\e909";
$icon-creative-commons-sharealike: "\e90a";
$icon-creative-commons: "\e90b";
$icon-document-landscape: "\e90c";
$icon-remove-user: "\e90d";
$icon-warning: "\e90e";
$icon-arrow-bold-down: "\e90f";
$icon-arrow-bold-left: "\e910";
$icon-arrow-bold-right: "\e911";
$icon-arrow-bold-up: "\e912";
$icon-arrow-down: "\e913";
$icon-arrow-left: "\e914";
$icon-arrow-long-down: "\e915";
$icon-arrow-long-left: "\e916";
$icon-arrow-long-right: "\e917";
$icon-arrow-long-up: "\e918";
$icon-arrow-right: "\e919";
$icon-arrow-up: "\e91a";
$icon-arrow-with-circle-down: "\e91b";
$icon-arrow-with-circle-left: "\e91c";
$icon-arrow-with-circle-right: "\e91d";
$icon-arrow-with-circle-up: "\e91e";
$icon-bookmark: "\e91f";
$icon-chevron-with-circle-down: "\e92d";
$icon-chevron-with-circle-left: "\e92e";
$icon-chevron-with-circle-right: "\e92f";
$icon-chevron-with-circle-up: "\e930";
$icon-dots-two-horizontal: "\e93d";
$icon-dots-two-vertical: "\e93e";
$icon-download: "\e93f";
$icon-sound-mute: "\e94d";
$icon-sound: "\e94e";
$icon-trash: "\e94f";
$icon-aircraft: "\e95d";
$icon-align-bottom: "\e95e";
$icon-align-horizontal-middle: "\e95f";
$icon-bell: "\e96d";
$icon-blackboard: "\e96e";
$icon-block: "\e96f";
$icon-book: "\e970";
$icon-bowl: "\e971";
$icon-box: "\e972";
$icon-briefcase: "\e973";
$icon-browser: "\e974";
$icon-brush: "\e975";
$icon-bucket: "\e976";
$icon-cake: "\e977";
$icon-calculator: "\e978";
$icon-calendar: "\e979";
$icon-camera: "\e97a";
$icon-ccw: "\e97b";
$icon-chat: "\e97c";
$icon-check: "\e97d";
$icon-circle-with-cross: "\e97e";
$icon-circle-with-minus: "\e97f";
$icon-circle-with-plus: "\e980";
$icon-circle: "\e981";
$icon-circular-graph: "\e982";
$icon-clapperboard: "\e983";
$icon-clipboard: "\e984";
$icon-clock: "\e985";
$icon-code: "\e986";
$icon-cog: "\e987";
$icon-colours: "\e988";
$icon-compass: "\e989";
$icon-copy: "\e98a";
$icon-credit-card: "\e98b";
$icon-credit: "\e98c";
$icon-cross: "\e98d";
$icon-cup: "\e98e";
$icon-cw: "\e98f";
$icon-cycle: "\e990";
$icon-database: "\e991";
$icon-dial-pad: "\e992";
$icon-direction: "\e993";
$icon-document: "\e994";
$icon-documents: "\e995";
$icon-drink: "\e996";
$icon-drive: "\e997";
$icon-drop: "\e998";
$icon-edit: "\e999";
$icon-email: "\e99a";
$icon-emoji-happy: "\e99b";
$icon-emoji-neutral: "\e99c";
$icon-emoji-sad: "\e99d";
$icon-erase: "\e99e";
$icon-eraser: "\e99f";
$icon-export: "\e9a0";
$icon-eye: "\e9a1";
$icon-feather: "\e9a2";
$icon-flag: "\e9a3";
$icon-flash: "\e9a4";
$icon-flashlight: "\e9a5";
$icon-flat-brush: "\e9a6";
$icon-folder-images: "\e9a7";
$icon-folder-music: "\e9a8";
$icon-folder-video: "\e9a9";
$icon-folder: "\e9aa";
$icon-forward: "\e9ab";
$icon-funnel: "\e9ac";
$icon-game-controller: "\e9ad";
$icon-gauge: "\e9ae";
$icon-globe: "\e9af";
$icon-graduation-cap: "\e9b0";
$icon-grid: "\e9b1";
$icon-hair-cross: "\e9b2";
$icon-hand: "\e9b3";
$icon-heart-outlined: "\e9b4";
$icon-heart: "\e9b5";
$icon-help-with-circle: "\e9b6";
$icon-help: "\e9b7";
$icon-home: "\e9b8";
$icon-hour-glass: "\e9b9";
$icon-image-inverted: "\e9ba";
$icon-image: "\e9bb";
$icon-images: "\e9bc";
$icon-inbox: "\e9be";
$icon-infinity: "\e9bf";
$icon-info-with-circle: "\e9c0";
$icon-info: "\e9c1";
$icon-key: "\e9c2";
$icon-keyboard: "\e9c3";
$icon-lab-flask: "\e9c4";
$icon-landline: "\e9c5";
$icon-language: "\e9c6";
$icon-laptop: "\e9c7";
$icon-leaf: "\e9c8";
$icon-level-down: "\e9c9";
$icon-level-up: "\e9ca";
$icon-lifebuoy: "\e9cb";
$icon-light-bulb: "\e9cc";
$icon-light-down: "\e9cd";
$icon-light-up: "\e9ce";
$icon-line-graph: "\e9cf";
$icon-link: "\e9d0";
$icon-list: "\e9d1";
$icon-location-pin: "\e9d2";
$icon-location: "\e9d3";
$icon-lock-open: "\e9d4";
$icon-lock: "\e9d5";
$icon-log-out: "\e9d6";
$icon-login: "\e9d7";
$icon-loop: "\e9d8";
$icon-magnet: "\e9d9";
$icon-magnifying-glass: "\e9da";
$icon-mail: "\e9db";
$icon-man: "\e9dc";
$icon-map: "\e9dd";
$icon-mask: "\e9de";
$icon-medal: "\e9df";
$icon-megaphone: "\e9e0";
$icon-menu2: "\e9e1";
$icon-message: "\e9e2";
$icon-mic: "\e9e3";
$icon-minus: "\e9e4";
$icon-mobile: "\e9e5";
$icon-modern-mic: "\e9e6";
$icon-moon: "\e9e7";
$icon-mouse: "\e9e8";
$icon-music: "\e9e9";
$icon-network: "\e9ea";
$icon-new-message: "\e9eb";
$icon-new: "\e9ec";
$icon-news: "\e9ed";
$icon-note: "\e9ee";
$icon-notification: "\e9ef";
$icon-old-mobile: "\e9f0";
$icon-old-phone: "\e9f1";
$icon-palette: "\e9f2";
$icon-paper-plane: "\e9f3";
$icon-pencil: "\e9f4";
$icon-phone: "\e9f5";
$icon-pie-chart: "\e9f6";
$icon-pin: "\e9f7";
$icon-plus: "\e9f8";
$icon-popup: "\e9f9";
$icon-power-plug: "\e9fa";
$icon-price-ribbon: "\e9fb";
$icon-price-tag: "\e9fc";
$icon-print: "\e9fd";
$icon-progress-empty: "\e9fe";
$icon-progress-full: "\e9ff";
$icon-progress-one: "\ea00";
$icon-progress-two: "\ea01";
$icon-publish: "\ea02";
$icon-quote: "\ea03";
$icon-radio: "\ea04";
$icon-reply-all: "\ea05";
$icon-reply: "\ea06";
$icon-retweet: "\ea07";
$icon-rocket: "\ea08";
$icon-round-brush: "\ea09";
$icon-rss: "\ea0a";
$icon-ruler: "\ea0b";
$icon-scissors: "\ea0c";
$icon-share-alternitive: "\ea0d";
$icon-share: "\ea0e";
$icon-shareable: "\ea0f";
$icon-shield: "\ea10";
$icon-shop: "\ea11";
$icon-shopping-bag: "\ea12";
$icon-shopping-basket: "\ea13";
$icon-shopping-cart: "\ea14";
$icon-shuffle: "\ea15";
$icon-signal: "\ea16";
$icon-sound-mix: "\ea17";
$icon-sports-club: "\ea18";
$icon-spreadsheet: "\ea19";
$icon-squared-cross: "\ea1a";
$icon-squared-minus: "\ea1b";
$icon-squared-plus: "\ea1c";
$icon-star-outlined: "\ea1d";
$icon-star: "\ea1e";
$icon-stopwatch: "\ea1f";
$icon-suitcase: "\ea20";
$icon-swap: "\ea21";
$icon-sweden: "\ea22";
$icon-switch: "\ea23";
$icon-tablet: "\ea24";
$icon-tag: "\ea25";
$icon-text-document-inverted: "\ea26";
$icon-text-document: "\ea27";
$icon-text: "\ea28";
$icon-thermometer: "\ea29";
$icon-thumbs-down: "\ea2a";
$icon-thumbs-up: "\ea2b";
$icon-thunder-cloud: "\ea2c";
$icon-ticket: "\ea2d";
$icon-time-slot: "\ea2e";
$icon-tools: "\ea2f";
$icon-traffic-cone: "\ea30";
$icon-tree: "\ea31";
$icon-trophy: "\ea32";
$icon-tv: "\ea33";
$icon-typing: "\ea34";
$icon-unread: "\ea35";
$icon-untag: "\ea36";
$icon-user2: "\ea37";
$icon-users: "\ea38";
$icon-v-card: "\ea39";
$icon-video: "\ea3a";
$icon-vinyl: "\ea3b";
$icon-voicemail: "\ea3c";
$icon-wallet: "\ea3d";
$icon-water: "\ea3e";
$icon-500px-with-circle: "\ea3f";
$icon-500px: "\ea40";
$icon-basecamp: "\ea41";
$icon-behance: "\ea42";
$icon-creative-cloud: "\ea43";
$icon-dropbox: "\ea44";
$icon-evernote: "\ea45";
$icon-flattr: "\ea46";
$icon-foursquare: "\ea47";
$icon-google-drive: "\ea48";
$icon-google-hangouts: "\ea49";
$icon-grooveshark: "\ea4a";
$icon-icloud: "\ea4b";
$icon-mixi: "\ea4c";
$icon-onedrive: "\ea4d";
$icon-paypal: "\ea4e";
$icon-picasa: "\ea4f";
$icon-qq: "\ea50";
$icon-rdio-with-circle: "\ea51";
$icon-renren: "\ea52";
$icon-scribd: "\ea53";
$icon-sina-weibo: "\ea54";
$icon-skype-with-circle: "\ea55";
$icon-skype: "\ea56";
$icon-slideshare: "\ea57";
$icon-smashing: "\ea58";
$icon-soundcloud: "\ea59";
$icon-spotify-with-circle: "\ea5a";
$icon-spotify: "\ea5b";
$icon-swarm: "\ea5c";
$icon-vine-with-circle: "\ea5d";
$icon-vine: "\ea5e";
$icon-vk-alternitive: "\ea5f";
$icon-vk-with-circle: "\ea60";
$icon-vk: "\ea61";
$icon-xing-with-circle: "\ea62";
$icon-xing: "\ea63";
$icon-yelp: "\ea64";
$icon-dribbble-with-circle: "\ea65";
$icon-dribbble: "\ea66";
$icon-facebook-with-circle: "\ea67";
$icon-facebook: "\ea68";
$icon-flickr-with-circle: "\ea69";
$icon-flickr: "\ea6a";
$icon-github-with-circle: "\ea6b";
$icon-github: "\ea6c";
$icon-google-with-circle: "\ea6d";
$icon-google: "\ea6e";
$icon-instagram-with-circle: "\ea6f";
$icon-instagram: "\ea70";
$icon-lastfm-with-circle: "\ea71";
$icon-lastfm: "\ea72";
$icon-linkedin-with-circle: "\ea73";
$icon-linkedin: "\ea74";
$icon-pinterest-with-circle: "\ea75";
$icon-pinterest: "\ea76";
$icon-rdio: "\ea77";
$icon-stumbleupon-with-circle: "\ea78";
$icon-stumbleupon: "\ea79";
$icon-tumblr-with-circle: "\ea7a";
$icon-tumblr: "\ea7b";
$icon-twitter-with-circle: "\ea7c";
$icon-twitter: "\ea7d";
$icon-vimeo-with-circle: "\ea7e";
$icon-vimeo: "\ea7f";
$icon-youtube-with-circle: "\ea80";
$icon-youtube: "\ea81";
$icon-bars: "\f0c9";
$icon-navicon: "\f0c9";
$icon-reorder: "\f0c9";
$icon-menu: "\e9bd";

