@import "_variables-icomoon.scss";


@font-face {
    font-family: 'icomoon';
    src:  url('#{$icomoon-font-path}/icomoon.eot?4g1j35');
    src:  url('#{$icomoon-font-path}/icomoon.eot?4g1j35#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?4g1j35') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?4g1j35') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?4g1j35#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
    @return unquote("\"") + $str + unquote("\"");
}

.icon-heart {
    &:before {
        content: unicode($icon-heart);
    }
}
.icon-mail {
    &:before {
        content: unicode($icon-mail);
    }
}
.icon-menu {
    &:before {
        content: unicode($icon-menu);
    }
}
.icon-phone {
    &:before {
        content: unicode($icon-phone);
    }
}
.icon-search {
    &:before {
        content: unicode($icon-search);
    }
}
.icon-shopping-cart {
    &:before {
        content: unicode($icon-shopping-cart);
    }
}
.icon-user {
    &:before {
        content: unicode($icon-user);
    }
}
.icon-chevron-down {
    &:before {
        content: unicode($icon-chevron-down);
    }
}
.icon-chevron-small-down {
    &:before {
        content: unicode($icon-chevron-small-down);
    }
}
.icon-magnifying-glass {
    &:before {
        content: unicode($icon-magnifying-glass);
    }
}
.icon-menu2 {
    &:before {
        content: unicode($icon-menu2);
    }
}
.icon-shopping-cart2 {
    &:before {
        content: unicode($icon-shopping-cart2);
    }
}
.icon-skype-with-circle {
    &:before {
        content: unicode($icon-skype-with-circle);
    }
}
.icon-facebook-with-circle {
    &:before {
        content: unicode($icon-facebook-with-circle);
    }
}
.icon-flickr-with-circle {
    &:before {
        content: unicode($icon-flickr-with-circle);
    }
}
.icon-flickr {
    &:before {
        content: unicode($icon-flickr);
    }
}
.icon-google-with-circle {
    &:before {
        content: unicode($icon-google-with-circle);
    }
}
.icon-google {
    &:before {
        content: unicode($icon-google);
    }
}
.icon-instagram-with-circle {
    &:before {
        content: unicode($icon-instagram-with-circle);
    }
}
.icon-instagram {
    &:before {
        content: unicode($icon-instagram);
    }
}
.icon-linkedin-with-circle {
    &:before {
        content: unicode($icon-linkedin-with-circle);
    }
}
.icon-linkedin {
    &:before {
        content: unicode($icon-linkedin);
    }
}
.icon-pinterest-with-circle {
    &:before {
        content: unicode($icon-pinterest-with-circle);
    }
}
.icon-pinterest {
    &:before {
        content: unicode($icon-pinterest);
    }
}
.icon-twitter-with-circle {
    &:before {
        content: unicode($icon-twitter-with-circle);
    }
}
.icon-twitter {
    &:before {
        content: unicode($icon-twitter);
    }
}
.icon-vimeo {
    &:before {
        content: unicode($icon-vimeo);
    }
}
.icon-youtube-with-circle {
    &:before {
        content: unicode($icon-youtube-with-circle);
    }
}

