@import "_variables-icomoon.scss";


@font-face {
    font-family: 'icomoon';
    src:  url('#{$icomoon-font-path}/icomoon.eot?b45r3v');
    src:  url('#{$icomoon-font-path}/icomoon.eot?b45r3v#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?b45r3v') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?b45r3v') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?b45r3v#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
    @return unquote("\"") + $str + unquote("\"");
}

.icon-mail2 {
    &:before {
        content: unicode($icon-mail2);
    }
}
.icon-menu3 {
    &:before {
        content: unicode($icon-menu3);
    }
}
.icon-phone2 {
    &:before {
        content: unicode($icon-phone2);
    }
}
.icon-search {
    &:before {
        content: unicode($icon-search);
    }
}
.icon-shopping-cart2 {
    &:before {
        content: unicode($icon-shopping-cart2);
    }
}
.icon-user {
    &:before {
        content: unicode($icon-user);
    }
}
.icon-x {
    &:before {
        content: unicode($icon-x);
    }
}
.icon-chevron-down {
    &:before {
        content: unicode($icon-chevron-down);
    }
}
.icon-chevron-left {
    &:before {
        content: unicode($icon-chevron-left);
    }
}
.icon-chevron-right {
    &:before {
        content: unicode($icon-chevron-right);
    }
}
.icon-chevron-small-down {
    &:before {
        content: unicode($icon-chevron-small-down);
    }
}
.icon-chevron-small-left {
    &:before {
        content: unicode($icon-chevron-small-left);
    }
}
.icon-chevron-small-right {
    &:before {
        content: unicode($icon-chevron-small-right);
    }
}
.icon-chevron-small-up {
    &:before {
        content: unicode($icon-chevron-small-up);
    }
}
.icon-chevron-thin-down {
    &:before {
        content: unicode($icon-chevron-thin-down);
    }
}
.icon-chevron-thin-left {
    &:before {
        content: unicode($icon-chevron-thin-left);
    }
}
.icon-chevron-thin-right {
    &:before {
        content: unicode($icon-chevron-thin-right);
    }
}
.icon-chevron-thin-up {
    &:before {
        content: unicode($icon-chevron-thin-up);
    }
}
.icon-dots-three-horizontal {
    &:before {
        content: unicode($icon-dots-three-horizontal);
    }
}
.icon-dots-three-vertical {
    &:before {
        content: unicode($icon-dots-three-vertical);
    }
}
.icon-dots-two-horizontal {
    &:before {
        content: unicode($icon-dots-two-horizontal);
    }
}
.icon-dots-two-vertical {
    &:before {
        content: unicode($icon-dots-two-vertical);
    }
}
.icon-water {
    &:before {
        content: unicode($icon-water);
    }
}
.icon-500px-with-circle {
    &:before {
        content: unicode($icon-500px-with-circle);
    }
}
.icon-500px {
    &:before {
        content: unicode($icon-500px);
    }
}
.icon-basecamp {
    &:before {
        content: unicode($icon-basecamp);
    }
}
.icon-behance {
    &:before {
        content: unicode($icon-behance);
    }
}
.icon-creative-cloud {
    &:before {
        content: unicode($icon-creative-cloud);
    }
}
.icon-dropbox {
    &:before {
        content: unicode($icon-dropbox);
    }
}
.icon-evernote {
    &:before {
        content: unicode($icon-evernote);
    }
}
.icon-flattr {
    &:before {
        content: unicode($icon-flattr);
    }
}
.icon-foursquare {
    &:before {
        content: unicode($icon-foursquare);
    }
}
.icon-google-drive {
    &:before {
        content: unicode($icon-google-drive);
    }
}
.icon-google-hangouts {
    &:before {
        content: unicode($icon-google-hangouts);
    }
}
.icon-grooveshark {
    &:before {
        content: unicode($icon-grooveshark);
    }
}
.icon-icloud {
    &:before {
        content: unicode($icon-icloud);
    }
}
.icon-mixi {
    &:before {
        content: unicode($icon-mixi);
    }
}
.icon-onedrive {
    &:before {
        content: unicode($icon-onedrive);
    }
}
.icon-paypal {
    &:before {
        content: unicode($icon-paypal);
    }
}
.icon-picasa {
    &:before {
        content: unicode($icon-picasa);
    }
}
.icon-qq {
    &:before {
        content: unicode($icon-qq);
    }
}
.icon-rdio-with-circle {
    &:before {
        content: unicode($icon-rdio-with-circle);
    }
}
.icon-renren {
    &:before {
        content: unicode($icon-renren);
    }
}
.icon-scribd {
    &:before {
        content: unicode($icon-scribd);
    }
}
.icon-sina-weibo {
    &:before {
        content: unicode($icon-sina-weibo);
    }
}
.icon-skype-with-circle {
    &:before {
        content: unicode($icon-skype-with-circle);
    }
}
.icon-skype {
    &:before {
        content: unicode($icon-skype);
    }
}
.icon-slideshare {
    &:before {
        content: unicode($icon-slideshare);
    }
}
.icon-smashing {
    &:before {
        content: unicode($icon-smashing);
    }
}
.icon-soundcloud {
    &:before {
        content: unicode($icon-soundcloud);
    }
}
.icon-spotify-with-circle {
    &:before {
        content: unicode($icon-spotify-with-circle);
    }
}
.icon-spotify {
    &:before {
        content: unicode($icon-spotify);
    }
}
.icon-swarm {
    &:before {
        content: unicode($icon-swarm);
    }
}
.icon-vine-with-circle {
    &:before {
        content: unicode($icon-vine-with-circle);
    }
}
.icon-vine {
    &:before {
        content: unicode($icon-vine);
    }
}
.icon-vk-alternitive {
    &:before {
        content: unicode($icon-vk-alternitive);
    }
}
.icon-vk-with-circle {
    &:before {
        content: unicode($icon-vk-with-circle);
    }
}
.icon-vk {
    &:before {
        content: unicode($icon-vk);
    }
}
.icon-xing-with-circle {
    &:before {
        content: unicode($icon-xing-with-circle);
    }
}
.icon-xing {
    &:before {
        content: unicode($icon-xing);
    }
}
.icon-yelp {
    &:before {
        content: unicode($icon-yelp);
    }
}
.icon-dribbble-with-circle {
    &:before {
        content: unicode($icon-dribbble-with-circle);
    }
}
.icon-dribbble {
    &:before {
        content: unicode($icon-dribbble);
    }
}
.icon-facebook-with-circle {
    &:before {
        content: unicode($icon-facebook-with-circle);
    }
}
.icon-facebook {
    &:before {
        content: unicode($icon-facebook);
    }
}
.icon-flickr-with-circle {
    &:before {
        content: unicode($icon-flickr-with-circle);
    }
}
.icon-flickr {
    &:before {
        content: unicode($icon-flickr);
    }
}
.icon-github-with-circle {
    &:before {
        content: unicode($icon-github-with-circle);
    }
}
.icon-github {
    &:before {
        content: unicode($icon-github);
    }
}
.icon-google-with-circle {
    &:before {
        content: unicode($icon-google-with-circle);
    }
}
.icon-google {
    &:before {
        content: unicode($icon-google);
    }
}
.icon-instagram-with-circle {
    &:before {
        content: unicode($icon-instagram-with-circle);
    }
}
.icon-instagram {
    &:before {
        content: unicode($icon-instagram);
    }
}
.icon-lastfm-with-circle {
    &:before {
        content: unicode($icon-lastfm-with-circle);
    }
}
.icon-lastfm {
    &:before {
        content: unicode($icon-lastfm);
    }
}
.icon-linkedin-with-circle {
    &:before {
        content: unicode($icon-linkedin-with-circle);
    }
}
.icon-linkedin {
    &:before {
        content: unicode($icon-linkedin);
    }
}
.icon-pinterest-with-circle {
    &:before {
        content: unicode($icon-pinterest-with-circle);
    }
}
.icon-pinterest {
    &:before {
        content: unicode($icon-pinterest);
    }
}
.icon-rdio {
    &:before {
        content: unicode($icon-rdio);
    }
}
.icon-stumbleupon-with-circle {
    &:before {
        content: unicode($icon-stumbleupon-with-circle);
    }
}
.icon-stumbleupon {
    &:before {
        content: unicode($icon-stumbleupon);
    }
}
.icon-tumblr-with-circle {
    &:before {
        content: unicode($icon-tumblr-with-circle);
    }
}
.icon-tumblr {
    &:before {
        content: unicode($icon-tumblr);
    }
}
.icon-twitter-with-circle {
    &:before {
        content: unicode($icon-twitter-with-circle);
    }
}
.icon-twitter {
    &:before {
        content: unicode($icon-twitter);
    }
}
.icon-vimeo-with-circle {
    &:before {
        content: unicode($icon-vimeo-with-circle);
    }
}
.icon-vimeo {
    &:before {
        content: unicode($icon-vimeo);
    }
}
.icon-youtube-with-circle {
    &:before {
        content: unicode($icon-youtube-with-circle);
    }
}
.icon-youtube {
    &:before {
        content: unicode($icon-youtube);
    }
}
.icon-bars {
    &:before {
        content: unicode($icon-bars);
    }
}
.icon-navicon {
    &:before {
        content: unicode($icon-navicon);
    }
}
.icon-reorder {
    &:before {
        content: unicode($icon-reorder);
    }
}

