/*Breakpoints*/
$mobile:"only screen and (max-width: 479px)";
$tablets:"only screen and (min-width: 480px) and (max-width: 960px)";
$desktop:"only screen and (min-width: 960px)";



$font-family-base: 'Poppins', sans-serif;


$tone-white: #ffffff;
$tone-clear: #ECECEC;
$tone-dark: #222222;
$tone-gray: #bcbcbc;
$tone-light-gray: lighten($tone-gray, 10%);
$tone-main: #35affc;

$tools-icon-size: 20px;
