<div class="options">

    <a href="#" class="close-options">X</a>

    <h2>Ancho del menú</h2>
    <a href="#" class="js-option btn btn-xs  btn--outline  border-radius-s" data-element=".js-container" data-option="container" data-value="container">Fijo</a>
    <a href="#" class="js-option btn btn-xs  btn--outline border-radius-s" data-element=".js-container" data-option="container" data-value="-fluid">100%</a>

    <!--<h2>CTA</h2>-->
    <!--<h3>Border radius</h3>-->
    <!--<a href="#" class="js-option btn btn-s  btn&#45;&#45;flat bg-two border-radius-xs" data-element=".js-btn" data-option="border-radius-" data-value="xs">Square</a>-->
    <!--<a href="#" class="js-option btn btn-s  btn&#45;&#45;flat bg-two border-radius-s" data-element=".js-btn" data-option="border-radius-" data-value="s">Little</a>-->
    <!--<a href="#" class="js-option btn btn-s  btn&#45;&#45;flat bg-two border-radius-l" data-element=".js-btn" data-option="border-radius-" data-value="xl">Rounded</a>-->
    <!--<br>-->
    <!--<h2>Logo flotante</h2>-->
    <!--<a href="#" class="js-option btn btn-xs  btn&#45;&#45;flat" data-element=".static-nav-logo" data-option="logo-" data-value="static">No</a>-->
    <!--<a href="#" class="js-option btn btn-xs  btn&#45;&#45;flat" data-element=".static-nav-logo" data-option="logo-" data-value="floating">Sí</a>-->

    <h2>Tamaño del logo</h2>
    <input class="option-slider"  type="range" min="0" max="6" value="3" data-option="logo-size" data-values='["xxs","xs","s","m","l","xl","xxl"]' data-element=".branding-logo">
    <br><br>

    <!--Topbar-->
    {% if page.topbar =='true' %}
    <div class="group-options padding-xs">
        <h2>Información de contacto</h2>
        <hr>
       <h2>Decoración inferior</h2>
        <a href="#" class="js-option border-bottom padding-s" data-element=".topbar" data-option="border-" data-value="bottom">Línea</a>
        <a href="#" class="js-option padding-s" data-element=".topbar" data-option="border-" data-value="">Ninguna</a>
        <br><br>
        <h2>Color de fondo</h2>
        <a href="#" class="js-option-color btn btn-xs  btn--flat bg-one" data-element=".topbar .js-background-color" data-option="bg-" data-value="one"></a>
        <a href="#" class="js-option-color btn btn-xs  btn--flat bg-two" data-element=".topbar .js-background-color" data-option="bg-" data-value="two"></a>
        <a href="#" class="js-option-color btn btn-xs  btn--flat bg-three" data-element=".topbar .js-background-color" data-option="bg-" data-value="three"></a>
        <a href="#" class="js-option-color btn btn-xs  btn--flat bg-four" data-element=".topbar .js-background-color" data-option="bg-" data-value="four"></a>
        <a href="#" class="js-option-color btn btn-xs  btn--flat bg-five" data-element=".topbar .js-background-color" data-option="bg-" data-value="five"></a>
        <a href="#" class="js-option-color btn btn-xs  btn--flat bg-light" data-element=".topbar .js-background-color" data-option="bg-" data-value="light"></a>
        <a href="#" class="js-option-color btn btn-xs  btn--flat bg-gray" data-element=".topbar .js-background-color" data-option="bg-" data-value="gray"></a>
        <a href="#" class="js-option-color btn btn-xs  btn--flat-inverse" data-element=".topbar .js-background-color" data-option="bg-" data-value="white"></a>
        <a href="#" class="js-option-color btn btn-xs  btn--flat bg-black" data-element=".topbar .js-background-color" data-option="bg-" data-value="black"></a>
        <a href="#" class="js-option-color btn btn-xs  btn--flat bg-dark" data-element=".topbar .js-background-color" data-option="bg-" data-value="dark"></a>
        <a href="#" class="js-option-color btn btn-xs  bg-transparent" data-element=".topbar .js-background-color" data-option="bg-" data-value="transparent" >Transparente</a>


    <h2>Estilo del texto</h2>
    <a href="#" class="js-option btn btn-xs btn--flat bg-dark " data-element=".topbar.js-fg" data-option="fg-" data-value="white">Claro</a>
    <a href="#" class="js-option btn btn-xs bg-white fg-dark" data-element=".topbar.js-fg" data-option="fg-" data-value="dark">Oscuro</a>
    </div>

    <br><br>


    {% endif %}


    <div class="group-options padding-xs">
        <h2>Barra de navegación top  </h2>
        <hr>
        <div class="ocultar">
            <h2>Fondo</h2>
            <a href="#" class="btn btn-xs   bg-transparent fg-dark js-transparent" data-element=".js-logobar" data-option="is-" data-value="transparent">Transparente</a>
            <a href="#" class="btn btn-xs  btn--flat bg-three js-transparent" data-element=".js-logobar" data-option="is-" data-value="opaque">Color</a>

            <h2>Altura</h2>
            <input class="option-slider"  type="range" min="0" max="5" value="3" data-option="padding-v" data-values='["xxs","xs","s","m","l","xl"]' data-element=".navbar-item--logo">
            <h2>Decoración inferior</h2>
            <a href="#" class="js-option border-bottom padding-s" data-element=".js-border" data-option="border-" data-value="bottom">Línea</a>
            <a href="#" class="js-option  padding-s" data-element=".js-border" data-option="border-" data-value="">Ninguna</a>
            <br><br>

            <h2>Color de fondo</h2>
            <a href="#" class="js-option-color btn btn-xs  btn--flat bg-one" data-element=".navbar-logo .js-background-color" data-option="bg-" data-value="one"></a>
            <a href="#" class="js-option-color btn btn-xs  btn--flat bg-two" data-element=".navbar-logo .js-background-color" data-option="bg-" data-value="two"></a>
            <a href="#" class="js-option-color btn btn-xs  btn--flat bg-three" data-element=".navbar-logo .js-background-color" data-option="bg-" data-value="three"></a>
            <a href="#" class="js-option-color btn btn-xs  btn--flat bg-four" data-element=".navbar-logo .js-background-color" data-option="bg-" data-value="four"></a>
            <a href="#" class="js-option-color btn btn-xs  btn--flat bg-five" data-element=".navbar-logo .js-background-color" data-option="bg-" data-value="five"></a>
            <a href="#" class="js-option-color btn btn-xs  btn--flat bg-light" data-element=".navbar-logo .js-background-color" data-option="bg-" data-value="light"></a>
            <a href="#" class="js-option-color btn btn-xs  btn--flat bg-gray" data-element=".navbar-logo .js-background-color" data-option="bg-" data-value="gray"></a>
            <a href="#" class="js-option-color btn btn-xs  btn--flat-inverse" data-element=".navbar-logo .js-background-color" data-option="bg-" data-value="white"></a>
            <a href="#" class="js-option-color btn btn-xs  btn--flat bg-black" data-element=".navbar-logo .js-background-color" data-option="bg-" data-value="black"></a>
            <a href="#" class="js-option-color btn btn-xs  btn--flat bg-dark" data-element=".navbar-logo .js-background-color" data-option="bg-" data-value="dark"></a>


            <h2>Estilo del texto</h2>
            <a href="#" class="js-option btn btn-xs btn--flat bg-dark" data-element=".navbar-logo.js-fg, .navbar-fixed.js-fg" data-option="fg-" data-value="white">Claro</a>
            <a href="#" class="js-option btn btn-xs bg-white fg-dark" data-element=".navbar-logo.js-fg, .navbar-fixed.js-fg" data-option="fg-" data-value="dark">Oscuro</a>
        </div>
        </div>



  <br>
    <div class="group-options padding-xs">
    <h2>Alineación del menú</h2>
     <hr>
    <a href="#" class="js-option btn--outline option-align" data-element=".js-align" data-option="flex-align-" data-value="left"><span class="icon-align-left"></span></a>
    <a href="#" class="js-option btn--outline option-align" data-element=".js-align" data-option="flex-align-" data-value="center"><span class="icon-align-center"></span></a>
    <a href="#" class="js-option btn--outline option-align" data-element=".js-align" data-option="flex-align-" data-value="right"><span class="icon-align-right"></span></a>
    <a href="#" class="js-option btn--outline option-align" data-element=".js-align" data-option="flex-align-" data-value="justify"><span class="icon-align-justify"></span></a>


    <h2>Estilo del menú</h2>
        <hr>
    <a href="#" class="js-option fg-dark" data-element=".navbar-menu-inner" data-option="menu--" data-value="line">Line</a> |
    <a href="#" class="js-option fg-dark" data-element=".navbar-menu-inner" data-option="menu--" data-value="simple">Simple</a>|
    <a href="#" class="js-option fg-dark" data-element=".navbar-menu-inner" data-option="menu--" data-value="back-all">Back all</a>|
    <a href="#" class="js-option fg-dark" data-element=".navbar-menu-inner" data-option="menu--" data-value="line-bottom">Line bottom</a>|
    <a href="#" class="js-option fg-dark" data-element=".navbar-menu-inner" data-option="menu--" data-value="line-top">Line top</a>

   </div>

<br>
    {% if page.navigation == 'bottom' or page.navigation == 'subnav' %}
    <div class="group-options padding-xs">
        <h2>Navegación inferior</h2>
        <hr>
        <h2>Transparencia</h2>
        <a href="#" class="js-option btn btn-xs  bg-transparent fg-dark js-transparent" data-element=".js-subnav"  data-option="is-" data-value="transparent">Transparente</a>
        <a href="#" class="js-option btn btn-xs  btn--flat bg-three js-transparent" data-element=".js-subnav" data-option="is-" data-value="opaque">Color</a>

        <h2>Decoración inferior</h2>
        <a href="#" class="js-option border-bottom padding-s" data-element=".js-subnav" data-option="border-" data-value="bottom">YES</a>
        <a href="#" class="js-option padding-s" data-element=".js-subnav" data-option="border-" data-value="">NO</a>
        <br><br>
        <h2>Subnav background</h2>
        <a href="#" class="js-option-color btn btn-xs  btn--flat bg-one" data-element=".js-subnav .js-background-color" data-option="bg-" data-value="one"></a>
        <a href="#" class="js-option-color btn btn-xs  btn--flat bg-two" data-element=".js-subnav .js-background-color" data-option="bg-" data-value="two"></a>
        <a href="#" class="js-option-color btn btn-xs  btn--flat bg-three" data-element=".js-subnav .js-background-color" data-option="bg-" data-value="three"></a>
        <a href="#" class="js-option-color btn btn-xs  btn--flat bg-four" data-element=".js-subnav .js-background-color" data-option="bg-" data-value="four"></a>
        <a href="#" class="js-option-color btn btn-xs  btn--flat bg-five" data-element=".js-subnav .js-background-color" data-option="bg-" data-value="five"></a>
        <a href="#" class="js-option-color btn btn-xs  btn--flat bg-light" data-element=".js-subnav .js-background-color" data-option="bg-" data-value="light"></a>
        <a href="#" class="js-option-color btn btn-xs  btn--flat bg-gray" data-element=".js-subnav .js-background-color" data-option="bg-" data-value="gray"></a>
        <a href="#" class="js-option-color btn btn-xs  btn--flat-inverse" data-element=".js-subnav .js-background-color" data-option="bg-" data-value="white"></a>
        <a href="#" class="js-option-color btn btn-xs  btn--flat bg-black" data-element=".js-subnav .js-background-color" data-option="bg-" data-value="black"></a>
        <a href="#" class="js-option-color btn btn-xs  btn--flat bg-dark" data-element=".js-subnav .js-background-color" data-option="bg-" data-value="dark"></a>


        <h2>Estilo del texto</h2>
        <a href="#" class="js-option btn btn-xs btn--flat bg-dark" data-element=".subnav.js-fg" data-option="fg-" data-value="white">Claro</a>
        <a href="#" class="js-option btn btn-xs bg-white fg-dark" data-element=".subnav.js-fg" data-option="fg-" data-value="dark">Oscuro</a>

</div>
<br>
    {% endif %}

    {% if page.hero =='true' %}
    <div class="group-options padding-xs">
         <h2>Hero</h2>
        <hr>
        <h2>Altura</h2>
        <input class="option-slider"  type="range" min="0" max="4" value="4" data-option="padding-v" data-values='["xxs","s","l","xl","xxl"]' data-element=".js-hero">

        <h2>Alineación del texto</h2>
        <a href="#" class="js-option option-align" data-element=".js-hero-align" data-option="text-align-" data-value="left"><span class="icon-align-left"></span></a>
        <a href="#" class="js-option option-align" data-element=".js-hero-align" data-option="text-align-" data-value="center"><span class="icon-align-center"></span></a>
        <a href="#" class="js-option option-align" data-element=".js-hero-align" data-option="text-align-" data-value="right"><span class="icon-align-right"></span></a>

        <h2>Posición del texto</h2>
        <a href="#" class="js-option option-align" data-element=".js-hero" data-option="hero-content-position-" data-value="left"><span class="icon-align-left"></span></a>
        <a href="#" class="js-option option-align" data-element=".js-hero" data-option="hero-content-position-" data-value="center"><span class="icon-align-center"></span></a>
        <a href="#" class="js-option option-align" data-element=".js-hero" data-option="hero-content-position-" data-value="right"><span class="icon-align-right"></span></a>

        <h2>Estilo del texto</h2>
        <a href="#" class="js-option btn btn-xs btn--flat bg-dark" data-element=".hero" data-option="fg-" data-value="white">Claro</a>
        <a href="#" class="js-option btn btn-xs bg-white fg-dark" data-element=".hero" data-option="fg-" data-value="dark">Oscuro</a>


    </div>
    <br>
    {% endif %}
    <!--<h2>Bloque superpuesto</h2>-->
    <!--<a href="#" class="js-option btn btn-xs  btn&#45;&#45;flat" data-element=".block" data-option="block-" data-value="floating">SI</a>-->
    <!--<a href="#" class="js-option btn btn-xs  btn&#45;&#45;flat" data-element=".block" data-option="block-" data-value="no-floating">NO</a>-->
    <!--<br>-->
   ---------------
    <!--<h2>MENÚ MOBILE</h2>-->
    <!--<h2>Posición del menú móvil</h2>-->
    <!--<a href="#" class="js-option btn btn-xs  btn--flat-mobile" data-element=".js-menu-mobile" data-type="extension-position" data-option="position-" data-value="left">Left</a>-->
    <!--<a href="#" class="js-option-color btn btn-xs  btn--flat-mobile" data-element=".js-menu-mobile" data-type="extension-position" data-option="position-" data-value="right">Right</a>-->

    <!--<h2>Tema del menú móvil</h2>-->
    <!--<a href="#" class="js-option btn btn-xs  btn--flat-mobile" data-element=".js-menu-mobile" data-type="extension-theme" data-option="theme-" data-value="black">Black</a>-->
    <!--<a href="#" class="js-option btn btn-xs  btn--flat-mobile" data-element=".js-menu-mobile" data-type="extension-theme" data-option="theme-" data-value="dark">Dark</a>-->


</div>