<div class="options">
    <a href="#" class="open-options">Abrir</a><br>
    <a href="#" class="close-options">X</a>
    <br>

    <h2>Container</h2>
    <a href="#" class="js-option" data-element=".js-container" data-option="container" data-value="">Container</a>
    <a href="#" class="js-option" data-element=".js-container" data-option="container" data-value="-fluid">Fluid</a>


    <h2>Tamaño del logo</h2>
    <a href="#" class="js-option" data-element=".branding-logo" data-option="logo-size-" data-value="xxs">XXS</a>
    <a href="#" class="js-option" data-element=".branding-logo" data-option="logo-size-" data-value="xs">XS</a>
    <a href="#" class="js-option" data-element=".branding-logo" data-option="logo-size-" data-value="s">S</a>
    <a href="#" class="js-option" data-element=".branding-logo" data-option="logo-size-" data-value="m">M</a>
    <a href="#" class="js-option" data-element=".branding-logo" data-option="logo-size-" data-value="l">L</a>
    <a href="#" class="js-option" data-element=".branding-logo" data-option="logo-size-" data-value="xl">XL</a>

    <h2>Padding</h2>
    <a href="#" class="js-option" data-element=".navbar-item--logo" data-option="padding-v-" data-value="xs">XS</a>
    <a href="#" class="js-option" data-element=".navbar-item--logo" data-option="padding-v-" data-value="s">S</a>
    <a href="#" class="js-option" data-element=".navbar-item--logo" data-option="padding-v-" data-value="m">M</a>
    <a href="#" class="js-option" data-element=".navbar-item--logo" data-option="padding-v-" data-value="l">L</a>
    <a href="#" class="js-option" data-element=".navbar-item--logo" data-option="padding-v-" data-value="xl">XL</a>

    <h2>Menú border</h2>
    <a href="#" class="js-option" data-element=".js-border" data-option="nav--" data-value="border">YES</a>
    <a href="#" class="js-option" data-element=".js-border" data-option="nav--" data-value="">NO</a>


    <h2>Menú style</h2>
    <a href="#" class="js-option" data-element=".navbar-menu-inner" data-option="menu--" data-value="line">LINE</a>
    <a href="#" class="js-option" data-element=".navbar-menu-inner" data-option="menu--" data-value="simple">SIMPLE</a>
    <a href="#" class="js-option" data-element=".navbar-menu-inner" data-option="menu--" data-value="back-all">BACK ALL</a>
    <a href="#" class="js-option" data-element=".navbar-menu-inner" data-option="menu--" data-value="line-bottom">LINE BOTTOM</a>
    <a href="#" class="js-option" data-element=".navbar-menu-inner" data-option="menu--" data-value="line-top">LINE TOP</a>


    <h2>Menú color</h2>
    <a href="#" class="js-option" data-element=".js-color" data-option="bg-" data-value="main">1</a>
    <a href="#" class="js-option" data-element=".js-color" data-option="bg-" data-value="white">2</a>
    <a href="#" class="js-option" data-element=".js-color" data-option="bg-" data-value="gray">3</a>
    <a href="#" class="js-option" data-element=".js-color" data-option="bg-" data-value="dark">4</a>
    <a href="#" class="js-option" data-element=".js-color" data-option="bg-" data-value="transparent">NO</a>

    <h2>Menú 2 color</h2>
    <a href="#" class="js-option" data-element=".js-subnav" data-option="bg-" data-value="main">1</a>
    <a href="#" class="js-option" data-element=".js-subnav" data-option="bg-" data-value="white">2</a>
    <a href="#" class="js-option" data-element=".js-subnav" data-option="bg-" data-value="gray">3</a>
    <a href="#" class="js-option" data-element=".js-subnav" data-option="bg-" data-value="dark">4</a>
    <a href="#" class="js-option" data-element=".js-subnav" data-option="bg-" data-value="transparent">NO</a>

    <h2>Menú 2 border</h2>
    <a href="#" class="js-option" data-element=".js-border-2" data-option="nav--" data-value="border">YES</a>
    <a href="#" class="js-option" data-element=".js-border-2" data-option="nav--" data-value="">NO</a>

    <h2>Menú align</h2>
    <a href="#" class="js-option" data-element=".js-align" data-option="flex-align-" data-value="left">left</a>
    <a href="#" class="js-option" data-element=".js-align" data-option="flex-align-" data-value="center">center</a>
    <a href="#" class="js-option" data-element=".js-align" data-option="flex-align-" data-value="right">right</a>
    <a href="#" class="js-option" data-element=".js-align" data-option="flex-align-" data-value="justify">justify</a>

    <h2>Border bottom</h2>
    <a href="#" class="js-option" data-element=".js-nav" data-option="border-" data-value="bottom">YES</a>
    <a href="#" class="js-option" data-element=".js-nav" data-option="border-" data-value="">NO</a>



    <h2>CTA</h2>
    <h3>Border radius</h3>
    <a href="#" class="js-option" data-element=".js-btn" data-option="border-radius-" data-value="xs">NO</a>
    <a href="#" class="js-option" data-element=".js-btn" data-option="border-radius-" data-value="xl">SÍ</a>


</div>