<!---
<div class=“extras”>
    if page.extra.type = “ecommerce” {
    <div class=“extras-item”>
        {% include _components/_icon.html type='icon' class='js-cart' icon='shopping-cart2' %}

    </div>
    <div class=“extras-item”>
        {% include _components/_icon.html type='icon' class='js-login' icon='user' %}
    </div>
    }
</div>
--->

<div class="tools__item">
    <a class="btn-shop fg-dark" href=""><span class="icon icon-shopping-cart2"></span></a>
</div>
<div class="tools__item">
    <a class="btn-user fg-dark" href=""><span class="icon icon-user"></span></a>
</div>

