<!---
<div class=“extras”>
    if page.extra.type = “ecommerce” {
    <div class=“extras-item”>
        {% include _components/_icon.html type='icon' class='js-cart' icon='shopping-cart2' %}

    </div>
    <div class=“extras-item”>
        {% include _components/_icon.html type='icon' class='js-login' icon='user' %}
    </div>
    }
</div>
--->

    <a class="tools__item tools-item-btn btn-shop fg-gray" href=""><span class="icon icon-shopping-cart2"></span></a>
    <a class="tools__item tools-item-btn btn-user fg-gray" href=""><span class="icon icon-user"></span></a>
