<div class="{{ page.container }} padding-v-{{ page.hero-padding }}">
    <div class="hero-content fix-header-padding">
        <h1 class="fg-white">Build a company your customers love. </h1>
        {% if page.hero-cta-1 == 'true' %}  {% include _components/_btn.html size="l" style="flat border-color-one" background="one" hover="bg-one--hover" title="Start" %}{% endif %}
        {% if page.hero-cta-2 == 'true' %} {% include _components/_btn.html size="l" style="outline"  background="" hover="bg-white--hover" title="Sing in" %}{% endif %}

    </div>
</div>

{% include _elements/_background.html %}