<div class="{{ page.container }}">
    <div class="hero-content  fix-header-padding">
        <h1 class="fg-white text-transform-uppercase">We design and develop </h1>
        <p class="fg-white">Tincidunt et urna purus tristique eros vitae purus tristique eros vitaeTincidunt et urna purus tristique eros vitae purus tristique eros vitaeTincidunt et urna purus tristique eros vitae purus tristique eros vitaeTincidunt et urna purus tristique eros vitae purus tristique eros vitaeTincidunt et urna purus tristique eros vitae purus tristique eros vitae</p>
        <a class="btn btn--big border-radius-xl bg-main fg-white js-header-cta1" href="#" >Start</a>
    </div>
</div>

{% include _elements/_background.html %}