<div class="navbar-fixed is-hide  position-relative js-border js-color">

    {% include _elements/_searchbar.html js-class='js-fixed-searchbar' %}


    <div class="{{ page.container }}  bg-{{ page.navbar.background }} js-container">
        <div class="navbar-inner flexbox-row-nowrap">

            {% if page.navigation == 'top-left' %}

            <div class="navbar__item width-35 hidden-desktop">
                <div class="navbar__tools">
                    {% include _elements/_mobile-nav.html %}
                    {% include _elements/_search.html js-class='js-fixed-search-open' %}
                </div>
            </div>

            <!-- FIX - FULL - FIX -->
            <nav class="navbar__item width-35 align-self-stretch overflow-hidden hidden-mobile hidden-tablets visible-desktop">
                {% include _elements/_navigation.html %}
            </nav>
            <div class="navbar__item width-full text-align-center">
                {% include _elements/_brand.html %}
            </div>
            <div class="navbar__item width-35">
                <div class="navbar__tools flex-align-right">
                    {% include _elements/_search.html js-class='js-search-open' breakpoint='hidden-tablets hidden-mobile' %}
                    {% include _elements/_extras.html %}
                    {% include _elements/_ctas.html breakpoint='hidden-tablets' %}
                </div>
            </div>

            {% endif %}


            {% if page.navigation == 'top-center' %}

            <!-- AUTO - FULL - AUTO -->
            <div class="navbar__item width-auto">
                {% include _elements/_brand.html %}
            </div>
            <nav class="navbar__item width-full align-self-stretch padding-h-m  overflow-hidden hidden-mobile hidden-tablets visible-desktop">
                {% include _elements/_navigation.html %}
            </nav>
            <div class="navbar__item width-auto">
                <div class="navbar__tools">
                    {% include _elements/_search.html js-class='js-fixed-search-open' %}
                    {% include _elements/_extras.html %}
                    {% include _elements/_ctas.html %}
                    {% include _elements/_mobile-nav.html %}

                </div>


            </div>

            {% endif %}


            {% if page.navigation == 'bottom' or page.navigation == 'subnav' %}

            {% if page.brand.position =='left' %}
            <div class="navbar__item width-auto">
                {% include _elements/_brand.html %}
            </div>
            <div class="navbar__item width-full">
                <div class="navbar__tools flex-align-right">
                    {% include _elements/_search-input.html breakpoint='hidden-tablets hidden-mobile' %}
                    {% include _elements/_search.html js-class='js-search-open' breakpoint='hidden-desktop' %}
                    {% include _elements/_extras.html %}
                    {% include _elements/_ctas.html %}
                    {% include _elements/_mobile-nav.html %}
                </div>
            </div>

            {% elsif page.brand.position =='center' %}
            <div class="navbar__item width-35">
                <div class="navbar__tools">
                    {% include _elements/_mobile-nav.html %}
                    {% include _elements/_search-input.html breakpoint='hidden-tablets hidden-mobile' %}
                    {% include _elements/_search.html js-class='js-search-open' breakpoint='hidden-desktop' %}
                </div>
            </div>
            <div class="navbar__item width-full text-align-center">
                {% include _elements/_brand.html %}
            </div>
            <div class="navbar__item width-35">
                <div class="navbar__tools flex-align-right">
                    {% include _elements/_extras.html %}
                    {% include _elements/_ctas.html breakpoint='hidden-tablets' %}

                </div>
            </div>

            {% endif %}

            {% endif %}


        </div>
    </div>
    {% if page.navigation == 'bottom' or page.navigation == 'subnav' %}

    <!-- subnav -->
    <div class="subnav bg-{{ page.subnav.background }} js-subnav js-border-2 hidden-mobile hidden-tablets visible-desktop">
        <div class="{{ page.container }} js-container fix-padding-container">
            <nav class="navbar__item width-full">
                {% include _elements/_navigation.html %}
            </nav>
        </div>
    </div><!-- /subnav -->
    {% endif %}
</div>
