<div class="searchbar bg-{{ page.navbar.background }}  {{ include.js-class }} js-color">

       <form class="form-search {{ page.container }} js-container">
        <input class="form-search-item input-search  js-color width-full" type="text" placeholder="Buscar en mybrand.com">
        <div class="form-search-item icon-close-search width-auto"><div class="search-close fg-dark" href=""><a class="btn btn--flat border-radius-xl padding-xs js-search-close"><span class="icon icon-x"></span></a></div></div>
    </form>

</div>