/* BORDE */

.border {
  &-bottom {
    border-bottom: 1px solid $gray-transparent !important;

  }
  &-top {
    border-color: 1px solid $gray-transparent;

  }
  &-radius {

    &-m {
      border-radius: 10px;
    }
    &-l {
      border-radius: 20px;
    }
    &-xl {
      border-radius: 30px;
    }
  }
}
