
@media #{$desktop}{
  .hidden-desktop {
    display: none;
  }
  .visible-desktop {
    display: block;
  }
}

@media #{$mobile}{
  .hidden-mobile {
    display: none;
  }
  .visible-mobile {
    display: block;
  }
}
@media #{$tablets}{
  .hidden-tablets {
    display: none;
  }
  .visible-tablets {
    display: block;
  }
}
