
@media #{$desktop}{
  .hidden-desktop {
    display: none;
  }
  .visible-desktop {
    display: block;
  }
}


.hidden-mobile-tablets {
  @media #{$mobile}{
    display: none;
  }
  @media #{$tablets}{
    display: none;
  }
}
@media #{$mobile}{
  .hidden-mobile {
    display: none;
  }
  .visible-mobile {
    display: block;
  }
}