/* COLORES */

.fg{
  &-one{
    color: $tone-one;
  }
  &-two{
    color: $tone-two;
  }
  &-three{
    color: $tone-three;
  }
  &-four{
    color: $tone-four;
  }
  &-five{
    color: $tone-five;
  }

  &-white{
    color: $tone-white;
  }
  &-light{
    color: $tone-light;
  }
  &-gray{
    color: $tone-gray;
  }
  &-dark{
    color: $tone-dark;
  }
  &-black{
    color: $tone-black;
  }

  &-warning{
    color: $tone-warning;
  }
  &-error{
    color: $tone-error;
  }
  &-info{
    color: $tone-info;
  }
  &-success{
    color: $tone-success;
  }



}


.bg{
  &-one{
    background: $tone-one;
  }
  &-two{
    background: $tone-two;
    @extend .fg-white;
    a{
      @extend .fg-white;
    }
  }
  &-three{
    background: $tone-three;
    @extend .fg-white;
    a{
      @extend .fg-white;
    }
  }
  &-four{
    background: $tone-four;
  }
  &-five{
    background: $tone-five;
  }

  &-white{
    background: $tone-white;
    @extend .fg-dark;
  }
  &-light{
    background: $tone-light;
  }
  &-gray{
    background: $tone-gray;
    @extend .fg-white;
    a{
      @extend .fg-white;
    }
  }
  &-dark{
    background: $tone-dark;
    @extend .fg-white;
    a{
      @extend .fg-white;
    }
  }
  &-black{
    background: $tone-black;
    @extend .fg-white;
    a{
      @extend .fg-white;
    }
  }

  &-warning{
    background: $tone-warning;
  }
  &-error{
    background: $tone-error;
  }
  &-info{
    background: $tone-info;
  }
  &-success{
    background: $tone-success;
  }

  &-transparent{
    background: none;
    @extend .fg-white;
    a{
      @extend .fg-white;
    }
  }
}
