/* COLORES */

.fg{
  &-one{
    color: $tone-one;
  }
  &-two{
    color: $tone-two;
  }
  &-three{
    color: $tone-three;
  }
  &-four{
    color: $tone-four;
  }
  &-five{
    color: $tone-five;
  }

  &-white{
    color: $tone-white;

  }
  &-light{
    color: $tone-light;

  }
  &-gray{
    color: $tone-gray;


  }
  &-dark{
    color: $tone-dark;

  }
  &-black{
    color: $tone-black;

  }

  &-warning{
    color: $tone-warning;
  }
  &-error{
    color: $tone-error;
  }
  &-info{
    color: $tone-info;
  }
  &-success{
    color: $tone-success;
  }



}


.bg{

  &-one {
    background-color: $tone-one;
    &--hover{
      &:hover{
        background-color: adjust-color($tone-one, $saturation: 10%, $lightness: -10%);
        border-color: adjust-color($tone-one, $saturation: 10%, $lightness: -10%);
      }
    }
  }

  &-two {
    background-color: $tone-two;
    &--hover{
      &:hover{
        background-color: adjust-color($tone-two, $saturation: 10%, $lightness: -10%);
        border-color: adjust-color($tone-two, $saturation: 10%, $lightness: -10%);
      }
    }
  }
  &-three{
    background-color: $tone-three;
    &--hover{
      &:hover{
        background-color: adjust-color($tone-three, $saturation: 10%, $lightness: -10%);
        border-color: adjust-color($tone-three, $saturation: 10%, $lightness: -10%);
      }
    }
  }
  &-four{
    background-color: $tone-four;
    &--hover{
      &:hover{
        background-color: adjust-color($tone-four, $saturation: 10%, $lightness: -10%);
        border-color: adjust-color($tone-four, $saturation: 10%, $lightness: -10%);
      }
    }
  }
  &-five{
    background-color: $tone-five;
    &--hover{
      &:hover{
        background-color: adjust-color($tone-five, $saturation: 10%, $lightness: -10%);
        border-color: adjust-color($tone-five, $saturation: 10%, $lightness: -10%);
      }
    }
  }

  &-white{
    background-color: $tone-white;
    a{
      @extend .fg-dark;
    }
    &--hover{
      &:hover{
        background-color: adjust-color($tone-white, $saturation: 10%, $lightness: -10%);
        border-color: adjust-color($tone-white, $saturation: 10%, $lightness: -10%);
        @extend .fg-dark;
      }
    }
  }
  &-light{
    background-color: $tone-light;
    a{
      @extend .fg-dark;
    }
    &--hover{
      &:hover{
        background-color: adjust-color($tone-light, $saturation: 10%, $lightness: -10%);
        border-color: adjust-color($tone-light, $saturation: 10%, $lightness: -10%);
        @extend .fg-dark;
      }
    }
  }
  &-gray{
    background-color: $tone-gray;
    a{
      @extend .fg-white;
    }
    &--hover{
      &:hover{
        background-color: adjust-color($tone-gray, $saturation: 10%, $lightness: -10%);
        border-color: adjust-color($tone-gray, $saturation: 10%, $lightness: -10%);
      }
    }
  }
  &-dark{
    background-color: $tone-dark;
    a{
      @extend .fg-white;
    }
    &--hover{
      &:hover{
        background-color: adjust-color($tone-dark, $saturation: 10%, $lightness: -10%);
        border-color: adjust-color($tone-dark, $saturation: 10%, $lightness: -10%);
      }
    }
  }
  &-black{
    background-color: $tone-black;
    &--hover{
      &:hover{
        background-color: adjust-color($tone-black, $saturation: 10%, $lightness: -10%);
        border-color: adjust-color($tone-black, $saturation: 10%, $lightness: -10%);
      }
    }
  }

  &-warning{
    background-color: $tone-warning;
  }
  &-error{
    background-color: $tone-error;
  }
  &-info{
    background-color: $tone-info;
  }
  &-success{
    background-color: $tone-success;
  }

  &-transparent{
    background-color: transparent;

  }
}
