//.logo-size{
//  &-xxs{
//    &.branding-logo{
//      max-width: 80px;
//      max-height:60px;
//
//    }
//
//  }
//  &-xs{
//    &.branding-logo{
//      max-width: 120px;
//      max-height: 140px;
//
//    }
//
//  }
//  &-s{
//    &.branding-logo{
//      max-width: 180px;
//      max-height: 180px;
//
//
//    }
//  }
//  &-m{
//    &.branding-logo{
//      max-width: 240px;
//      max-height: 200px;
//
//
//    }
//
//  }
//
//  &-l{
//    &.branding-logo {
//      max-width: 300px;
//      max-height: 250px;
//
//
//
//    }
//
//  }
//  &-xl{
//    &.branding-logo {
//      max-width: 350px;
//      max-height: 300px;
//
//
//    }
//
//  }
//}

.logo-size{
  &-xxs{
    &.branding-logo{
      width: 80px;


    }

  }
  &-xs{
    &.branding-logo{
      width: 120px;


    }

  }
  &-s{
    &.branding-logo{
      width: 180px;



    }
  }
  &-m{
    &.branding-logo{
      width: 240px;



    }

  }

  &-l{
    &.branding-logo {
      width: 300px;



    }

  }
  &-xl{
    &.branding-logo {
      width: 350px;



    }

  }
}