
.logo-size{
  &-xxs{

      width: 80px;



  }
  &-xs{

      width: 120px;


  }
  &-s{

      width: 180px;

  }
  &-m{

      width: 240px;

  }

  &-l{

      width: 300px;


  }
  &-xl{

      width: 350px;


  }
}