/*CLASES PADDINGS*/




$paddings: (
        'xxs': 0px,
        'xs': 5px,
        's': 10px,
        'm': 15px,
        'l': 20px,
        'xl': 25px,
);

@each $section, $padding in $paddings {
  .padding-#{$section} {
    padding: $padding;
  }
}

$v-paddings: (
        'xxs': 0px,
        'xs': 5px,
        's': 10px,
        'm': 20px,
        'l': 40px,
        'xl': 80px,
        'xxl': 160px,
);


@each $section, $v-padding in $v-paddings {
  .padding-v-#{$section} {
    padding-top: $v-padding;
    padding-bottom: $v-padding;

  }
}
$h-paddings: (
        'xxs': 0px,
        'xs': 5px,
        's': 10px,
        'm': 15px,
        'l': 20px,
        'xl': 30px,
        'xxl': 40px,
);
@each $section, $h-padding in $h-paddings {
  .padding-h-#{$section} {
    padding-left: $h-padding;
    padding-right: $h-padding;

  }
}
