.navbar-fixed{
  position: fixed;
  top: 0;
  width: 100%;
  @include transition(z-index 0.5s step-end);
  &.is-hide{
    z-index: 0;
    @include transform(translate(0, -100%));
    @include transition(transform 0.6s ease);
  }

}
