.navbar{
   border-width: 0;
   border-color: transparent;
   border-style: solid;
}

.nav-menu-item{
  border-width: 0 1px 0 1px;
  border-color: transparent;
}

.navbar-inner{
  @extend .flexbox-row-nowrap;
  @include justify-content(space-between);
  @include align-items(center);
  .navbar__item{
   // @extend .padding-h-m;
  }

}

