.navbar-fixed{
  z-index: 99999;
  position: fixed;
  top: 0;
  width: 100%;
  @include transition(transform 0.5s ease);
  @include box-shadow(0px, 2px, 2px, rgba(0,0,0,0.16));
  &.is-hide{
    @include transform(translate(0, -120%));
    @include transition(transform 0.5s ease);
  }
  .navbar-item--logo{
    @extend .padding-v-m;
    .branding-logo{
      max-width: 180px;
      @media #{$mobile}{
        max-width: 120px;
      }
      @media #{$tablets}{
        max-width: 175px;
      }
    }
  }
  //Si es transparente fuerzo a que el fixed sea blanco
  .bg-transparent{
    @extend .bg-white;
    @extend .fg-dark;
    a{
      @extend .fg-dark;
    }

  }
  .subnav{
    .nav-link{
      @extend .padding-v-m;
    }

  }
}

.sticky{
  @include box-shadow(0px, 2px, 5px, rgba(0, 0, 0, 0.06));
  position:fixed;
  z-index:1000;
  top:0;
  left:0;
  width:100%;



}

.navbar-absolute{
  position: absolute;
  width: 100%;
}

.subnav-bottom-absolute{
  bottom: 0;
  height: 60px;
  position: absolute;
  width: 100%;
}