.site-one{
  @extend .bg-white;
}
.mm-page{
  @extend .flexbox-row-nowrap;
}
.design{
  width: 90%;
  .navbar-fixed{
    width: 90%;
  }
}
.options{
  @extend .padding-xs;
  @extend .bg-light;
  width:10%;
  border-right: 1px solid $tone-gray;

  h2{
    font-size: 12px;
    font-weight: normal;
    padding: 1px 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
  }
  h3{
    font-size: 10px;
    font-weight: normal;
    padding: 2px 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
  }

  .open-options{

    @extend .bg-white;
    z-index: 111;


    @extend .padding-xs;
  }
  .close-options{

    @extend .bg-white;
    z-index: 111;

    @extend .padding-xs;
  }

}




.js-option{
  font-size: 0.8em;
  margin:2px;
  @extend .border-radius-s;
}
.js-option-mobile{

  font-size: 12px;
  padding: 3px;
  @extend .fg-dark;
}
.menu-options{
  a{
    display: inline-block;
    margin:2px;
    padding: 5px;
    font-size: 14px;
  }
  @media #{$mobile}{
    a{
      display: block;
      width: 100%;
    }
  }
  @media #{$tablets}{
    a{
      display: block;
      width: 100%;
      margin:2px;
      padding: 2px;
    }
  }
}


