
.options{
  @extend .padding-xs;
  position: fixed;
  background: transparentize($tone-gray, 0.05);
  left: -100px;
  bottom: 0;

  h2{
    font-size: 12px;
    font-weight: normal;
    padding: 1px 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
  }
  h3{
    font-size: 10px;
    font-weight: normal;
    padding: 2px 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
  }

  .open-options{
    right: 0;
    @extend .bg-white;
    z-index: 111;
    position: absolute;
    top: 0;
    @extend .padding-xs;
  }
  .close-options{
    right: 0;
    @extend .bg-white;
    z-index: 111;
    position: absolute;
    top: 30px;
    @extend .padding-xs;
  }

}




.js-option{

  font-size: 12px;
  padding: 3px;
  @extend .fg-dark;
  @extend .bg-main;
}

.menu-options{
  a{
    display: inline-block;
    margin:2px;
    padding: 5px;
    font-size: 14px;
  }
  @media #{$mobile}{
    a{
      display: block;
      width: 100%;
    }
  }
  @media #{$tablets}{
    a{
      display: block;
      width: 100%;
      margin:2px;
      padding: 2px;
    }
  }
}