
.branding-logo{
  max-width: 100%;
  vertical-align: middle;
  @include transition(transform .3s ease, background .3s ease, width .25s linear);
  @media #{$mobile}{
    max-width: 150px;
  }
  @media #{$tablets}{
    max-width: 175px;
  }
}
