.navbar-item--logo{
 // @include transition(padding .3s linear);
}


.branding-logo{
 // max-width: 100%;
  vertical-align: middle;
 // @include transition(transform .3s ease, background .3s ease, width .3s linear);
  @media #{$mobile}{
    max-width: 140px;
  }
  @media #{$tablets}{
    max-width: 175px;
  }
}

.branding-title{
  margin-bottom: 0;
}

.logo-floating{
  .branding-logo{
    position: absolute;
    top: 0;

  }
}
