
.branding-logo{
 // max-width: 100%;
  vertical-align: middle;
  @include transition(transform .3s ease, background .3s ease, width .3s linear);
  @media #{$mobile}{
    max-width: 100px;
  }
  @media #{$tablets}{
    max-width: 175px;
  }
}

.logo-floating{
  .branding-logo{
    position: absolute;
    top: 0;

  }
}
