.hero{
  h1{
    font-size: 3.5em;
  }
  &-inner{
    @include transition(padding .3s linear);
  }
  &-content{
    width: 50%;
    @media #{$tablets}{
      width: 100%;

    }
    @media #{$mobile}{
      width: 100%;
    }

  }
}