

.menu{
  &--line {
    span{
      position: relative;
      &:after{
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%;
        height: 2px;
        @extend .bg-one;
        content: "";
        opacity: 0;
        @include transition(opacity 0.3s ease 0s);
        @include transition(transform 0.3s ease 0s);
        @include transform(translate(0, 20px));
      }
      &:hover:after{
        opacity:1;
        @include transform(translate(0, 15px));
      }
      @include align-self(center);
    }

    .active {
      span{
        &:after{
          opacity:1;
          @include transform(translate(0, 15px));
        }
      }
    }
  }

  &--simple {
    .active {
      span {
        @extend .fg-one;
        @include transition(color 0.3s ease 0s);
      }
    }
    .nav-link {
      &:hover {
        span{
          @extend .fg-one;
          @include transition(color 0.3s ease 0s);
        }


      }
    }
  }

  &--back-all {
    .active {
      .nav-link {
        @extend .bg-one;
        @include transition(background 0.3s ease 0s);
      }
    }
    .nav-link {
      &:hover {

        @extend .bg-one;
        @include transition(background 0.3s ease 0s);

      }
    }
  }


  &--line-bottom {
    .nav-link{
      position: relative;
      &:after{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        @extend .bg-one;
        content: "";
        opacity: 0;
        @include transition(opacity 0.3s ease 0s, height 0.3s ease 0s);

      }
      &:hover{
        @extend .fg-one;
        &:after{
          opacity:1;
          height: 4px;

        }
      }
    }
    @include align-self(center);
    li.active {
      .nav-link {
        @extend .fg-one;
        &:after {
          @extend .fg-one;
          opacity: 1;
          height: 4px;
          @include transition(opacity 0.3s ease 0s, height 0.3s ease 0s);
        }
      }
    }


  }

  &--line-top {
    .nav-link{
      position: relative;
      &:after{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        @extend .bg-one;
        content: "";
        opacity: 0;
        @include transition(opacity 0.3s ease 0s, height 0.3s ease 0s);

      }
      &:hover{
        @extend .fg-one;
        &:after{
          opacity:1;
          height: 4px;

        }
      }
    }

    @include align-self(center);
    li.active {
      .nav-link {
        @extend .fg-one;
        &:after {
          @extend .fg-one;
          opacity: 1;
          height: 4px;
          @include transition(opacity 0.3s ease 0s, height 0.3s ease 0s);
        }
      }
    }


  }
}



