
  .navbar-menu-inner{
    @extend .flexbox-row-wrap;
    @include align-items(stretch);
    height:100%;
  }

  .nav-menu-item {
    height: 100%;
    .flex-align-justify & {
      @include flex-grow(1);
    }
  }

.navbar, .navbar-fixed, .subnav{
  .nav-link{
    @extend .flexbox-row-nowrap;
    @include align-items(stretch);
    @include justify-content(center);
    height: 100%;
    font-size: 1em;
    @extend .padding-h-l;
    span{
      align-self: center;
    }
    .flex-align-justify &{
      @extend .flex-align-justify;
    }
  }

  .nav-link-content{
    @extend .flexbox-row-nowrap;
    @include align-items(stretch);
    height: 100%;
  }

}


  .subnav .nav-link{
    @extend .padding-v-m;

  }



