
.searchbar{
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 100%;
  z-index: -1;

}

.form-search{
    @extend .flexbox-row-nowrap;
    height: 100%;
}
.input-search {
    background: transparent;
    opacity: 0;
    border: 0;
    font-size: 20px;
  @include transform(translate(100px, 0));
    @media #{$mobile}{
      font-size: 15px;
    }
    &:focus{
      outline: none;
      @extend .fg-dark;

    }
  &::placeholder{
       @extend .fg-gray;

    }
}
.icon-close-search {
    display: table;
    height: 100%;

}
.search-close{
   display: table-cell;
  vertical-align: middle;
  .btn{
    letter-spacing: 0;
  }
}