
.search-input{
  .tools-search-content {
    @extend .border-width-1;
    border-style: solid;
    @extend .border-color-gray-transparent;
    @extend .padding-h-s;

  }



  .btn-search{
    height: 40px;
    vertical-align: middle;
    @extend .padding-h-s;
  }

  .tools__item-search{
    background: none;
    width: auto;
    font-size: 1em;
    height: 40px;
    border: 0;
    @extend .padding-h-m;
    &::placeholder{
      @extend .fg-gray;
    }
    &:focus{
      outline: none;
      @extend .fg-dark;
      .bg-transparent &{
        @extend .fg-white;
      }
    }


  }

}
