
.searchbar{
  @extend .bg-white;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  left: 0;
  height: 100%;
  z-index: -1;

    &.bg-transparent{
      @extend .bg-white;
    }


}

.form-search{
    @extend .flexbox-row-nowrap;
    height: 100%;
    @extend .padding-h-xxl;
}
.input-search {
    background: transparent;
    opacity: 0;
    border: 0;
    font-size: 1.5em;
  @include transform(translate(100px, 0));
    @media #{$mobile}{
      font-size: 1.2em;
    }
    &:focus{
      outline: none;
      @extend .fg-dark;

    }
  &::placeholder{
       @extend .fg-gray;

    }
}
.icon-close-search {
    display: table;
    height: 100%;

}
.search-close{
  font-size: $tools-icon-size;
   display: table-cell;
  vertical-align: middle;
  .search-close-link{
    @extend .fg-dark;
    @include transition(color 0.3s ease 0s);
    &:hover{
      @extend .fg-black;

    }
  }
}