.navbar__tools{
  @extend .flexbox-row-nowrap;
  @include align-items(center);

}

.tools__item {
  @extend .margin-h-m;
  .icon{
    font-size: $tools-icon-size;
  }
}
.tools__item-search{
   font-size:15px;
   height:30px;
   border: 0;
  &::placeholder{
    @extend .fg-gray;
  }
}