
.topbar{
  @media #{$mobile}{
    display: none;
  }
}


.topbar__item{
  @extend .padding-h-m;
  @include align-self(center);
}

.topbar-inner{
  @extend .flexbox-row-nowrap;
  @include justify-content(space-between);

   font-size: 1em;

  .icon{
    font-size: 1em;
    vertical-align: middle;
    &.icon-phone2, &.icon-mail2{
      font-size: 0.8em;
      @extend .padding-h-xs;
    }

  }
  .social-item{
    display: inline-block;
    @extend .padding-h-xs;
   &:hover{
     .icon{
       @extend .fg-white;
     }
   }
  }
   .phone-item, .email-item{
     display: inline-block;
     vertical-align: middle;
     &:hover{
       @extend .fg-white;
     }
   }
}


