.mm-wrapper_blocking {
  overflow-y: scroll;
  height: 100%;
}

.mm-wrapper_blocking body {
  overflow: hidden;
  height: 100%;
}
.mm-listitem_spacer {
  padding-top: 20px;
  padding-bottom: 20px;
}
.mm-wrapper_opening [class*=mm-menu_pagedim].mm-menu_opened~.mm-page__blocker {
  opacity: .7;
  @include transition(opacity .4s ease .4s)
}

