<!DOCTYPE html>

<html>
{% include _head.html %}




<body>
<!-- Fire the plugin onDocumentReady -->
<script>
    jQuery(document).ready(function( $ ) {
        $("#menu").mmenu({
            "extensions": [
                "pagedim-black",
                "position-right"
            ],
            "iconPanels": true,
            "navbars": [
                {
                    "position": "bottom",
                    "content": [
                        "<a class='fa fa-envelope' href='#/'></a>",
                        "<a class='fa fa-twitter' href='#/'></a>",
                        "<a class='fa fa-facebook' href='#/'></a>"
                    ]
                }
            ]
        });
    });
</script>
{% include _options/_options.html %}


<div class="design">
    {% include _header.html %}

    {% include _content.html %}

    {% include _footer.html %}


</div>
{% include _menu-mobile.html %}
</body>
</html>