<!DOCTYPE html>
<html>
{% include head.html %}

<body>

{% include menu-mobile.html %}
    <div class="design page-is-static">
    <header class="header position-relative navigation-{{site.logo-left.header.navigation}}">

        {% if site.logo-left.header.top-bar == 'true' %}
        {% include top-bar.html %}
        {% endif %}
        {% if site.logo-left.header.navigation == 'top'%}
        {% include backdrop.html %}
        {% endif %}
        <div class="navbar navbar-logo--{{ site.logo-left.header.logo.position }} logo-size-{{ site.logo-left.header.logo.size }} border-bottom" id="navbar">

            {% if site.logo-left.header.logo.position == 'top' or site.logo-left.header.navigation == 'bottom'%}
            <div class="{{ site.logo-left.header.container }}">
             <div class="navbar-item navbar-item--logo padding-tb-{{ site.logo-left.header.logo.padding }} text-align-{{ site.logo-left.header.logo.align }}">
                {% include {{ site.logo }} image="img/logo2.png" %}
             </div>
            </div>
            {% else %}
            {% endif %}
            {% if site.logo-left.header.navigation == 'top'%}

            <div class="navbar-content">
                <div class="navbar-content-bar">
                <div class="{{ site.logo-left.header.container }}">
                    <div class="navbar-inner">

                        {% if site.logo-left.header.logo.position == 'left' or site.logo-left.header.logo.position == 'right' or site.logo-left.header.navigation == 'top'%}
                        <div class="navbar-item navbar-item--logo padding-tb-{{ site.logo-left.header.logo.padding }}">
                            {% include {{ site.logo }} image="img/logo2.png"  %}
                        </div>
                        {% else%}
                        {% endif %}
                        {% include menu.html style=site.logo-left.header.menu.style align=site.logo-left.header.menu.align%}
                        {% include tools.html %}
                    </div>


                </div>

                {% include search-bar.html %}
            </div>
            </div>
            {% else %}
            {% endif %}
        </div>

        {% if site.logo-left.header.hero == 'true' %}
        {% include hero.html %}
        {% endif %}



        {% if site.logo-left.header.navigation == 'bottom'%}
        <div class="navbar-content">
            <div class="navbar-content-bar">
                <div class="{{ site.logo-left.header.container }}">
                    <div class="navbar-inner">

                        {% if site.logo-left.header.logo.position == 'left' or site.logo-left.header.logo.position == 'right' or site.logo-left.header.navigation == 'top'%}
                        <div class="navbar-item navbar-item--logo padding-tb-{{ site.logo-left.header.logo.padding }}">
                            {% include {{ site.logo }} image="img/logo2.png"  %}
                        </div>
                        {% else %}
                        {% endif %}
                        {% include menu.html style=site.logo-left.header.menu.style align=site.logo-left.header.menu.align%}
                        {% include tools.html %}
                    </div>


                </div>

                {% include search-bar.html %}
            </div>
        </div>
        {% else %}
        {% endif %}
    </header>

    <main class="content fix-header-padding" id="main">
        <div class="container">
            <div class="padding-l">
                {% include options.html %}
                <br>
                {% include content.html %}
                <br>

                {{ site.logo-left.header.logo }}<br/>
                {{ site.logo-left.header.menu }}<br/>
                {{ site.logo-left.header.menu.style}}<br/>
                {{ layout.myvariable }}<br/>
            </div>
        </div>
    </main>


    {% include footer.html %}
</div>



</body>
</html>